<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Courses</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="course,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${course.getTitle()}"></td>
        <td th:text="${course.getTeacher()}"></td>
        <td th:text="${course.getCredits()}"></td>
        <td th:text="${#calendars.format(course.getUpdated(),'dd MMMM yyyy')}"></td>
        <td>
            <a th:href="@{'/courses/details/' + ${course.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/courses/update/' + ${course.getId()}}" type="button" class="btn btn-success">edit</a>
        </td>
        <td>
            <a th:href="@{'/courses/delete/' + ${course.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>
</div>
</body>
</html>