<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details Department</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Course
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${student.getId()}"></td>
                        </tr>
                        <tr>
                            <th>title</th>
                            <td th:text="${student.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>teacher</th>
                            <td th:text="${student.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(student.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(student.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-2 mt-2">
                                <div class="card-header">
                                    All Courses
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>title</th>
                                            <th>teacher</th>
                                            <th>credits</th>
                                            <th>created</th>
                                            <th>updated</th>
                                            <th>details</th>
                                            <th>remove</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="course,iter : ${courses}">
                                            <td th:text="${iter.count}"></td>
                                            <td th:text="${course.getTitle()}"></td>
                                            <td th:text="${course.getTeacher()}"></td>
                                            <td th:text="${course.getCredits()}"></td>
                                            <td th:text="${#calendars.format(course.getCreated(),'dd MMMM yyyy')}"></td>
                                            <td th:text="${#calendars.format(course.getUpdated(),'dd MMMM yyyy')}"></td>
                                            <td>
                                                <a th:href="@{'/students/details/' + ${course.getId()}}" type="button" class="btn btn-primary">details</a>
                                            </td>
                                            <td>
                                                <a th:href = "@{'/students/remove/' + ${course.getId()} + '&' + ${student.getId()}}" type = "button" class="btn btn-danger">remove</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
