<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div layout:fragment="content">
        <div sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="sidebar">
                    <a class="sidebar-title" href="#">MyHost</a>
                    <button class="dropdown-btn">Manage
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        <a th:href="@{/admin/servers}">Servers</a>
                        <a th:href="@{/admin/providers}">Providers</a>
                        <a th:href="@{/admin/servers/plp}">Catalog</a>
                        <a th:href="@{/admin/personals}">Users</a>
                    </div>
                    <a th:href="@{/admin/dashboard}">Dashboard</a>
                    <a th:href="@{/main_page}">About</a>
                </div>
                <div class="content">
                    <nav class="navbar navbar-transparent">
                        <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()"
                           style="cursor: pointer !important;">Logout</a>
                    </nav>
                </div>
            </div>

            <div sec:authorize="hasRole('ROLE_PERSONAL')">
                <div class="sidebar">
                    <a class="sidebar-title" href="#">MyHost</a>
                    <a th:href="@{/personal/catalog}">Catalog</a>
                    <a th:href="@{/personal/dashboard}">Dashboard</a>
                    <a th:href="@{/main_page}">About</a>
                </div>
                <div class="content">
                    <nav class="navbar navbar-transparent">
                        <form class="d-flex" id="serverSearch" method="POST" th:action="@{/personal/search}">
                            <input class="form-control me-2" type="search" placeholder="Enter cpu model" aria-label="Search"
                                   id="serverNamed">
                            <button class="btn btn-outline-success" type="submit" id="btnServerSearch">Search
                            </button>
                        </form>
                        <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()"
                           style="cursor: pointer !important;">Logout</a>
                    </nav>
                </div>
            </div>

            <div class="row" th:if="${showMessage}">
                <div class="col">
                    <div th:if="${message}" class="alert alert-primary alert-dismissible fade show" role="alert">
                        <span th:text="${message}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${errorMessage}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${warnMessage}" class="alert alert-dark alert-dismissible fade show" role="alert">
                        <span th:text="${warnMessage}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content">
                <section layout:fragment="auth_content"></section>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
    <script type="text/javascript" th:src="@{/js/graph.js}"></script>
    <script type="text/javascript" th:src="@{/js/checkout.js}"></script>
    <script type="text/javascript" th:src="@{/js/dropdown-btn.js}"></script>
    <script type="text/javascript" th:src="@{/js/pagination.js}"></script>
</th:block>
</body>
</html>